@import "../../node_modules/bootstrap/scss/bootstrap";
@import "../../node_modules/swiper/swiper-bundle";
@import "variables";
@import "extends";
@import "mixins";
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&display=swap");

@media (min-width: 1400px) {
  .container {
      max-width: 1140px;
  }
}

@media (max-width: 767px) {
  .search-bar{
    position: sticky !important;
  }
}

@media (max-width: 576px) {
  .container {
      max-width: 350px;
  }
  .img-container{
    width: 343px;
    height: 407px;
  }
}

body{
  font-family: "Inter", sans-serif !important;
}

.content-wrap{
  min-height: 100%;
}

.color-accent{
  color: $color-accent !important;
}

.color-black{
  color: $color-black !important;
}

header{
  margin-bottom: 64px;
  border-bottom: 1px solid #EBEBEF;
}

footer{
  margin-top: 64px;
  border-top: 1px solid #EBEBEF;
}

.navbar-toggler{
  width: 46px;
  height: 46px;
  border: 1px solid #EBEBEF;

  &:focus{
    box-shadow: 0 0 0 0 !important;
  }
}

.btn-header{
  @extend %btn;
  padding: 10px 20px;
}

.btn-search{
  @extend %btn;
  padding: 10px 32px;
}

.btn-jobs{
  @extend %btn;
  padding: 10px 20px;
}

h1 {
  @extend %archivo;
  @include fonts(64px, $color-black, 700);
}

h2 {
  @extend %archivo;
  @include fonts(48px, $color-black, 700);
}

h3 {
  @extend %archivo;
  @include fonts(40px, $color-black, 700);
}

h4 {
  @extend %archivo;
  @include fonts(32px, $color-black, 700);
}

h5 {
  @extend %archivo;
  @include fonts(20px, $color-black, 700);
}

h6 {
  @extend %archivo;
  @include fonts(18px, $color-black, 700);
}

.p-regular{
  @include fonts(16px, #3E404C, 400);
  line-height: 32px;
}

.p-small{
  @include fonts(14px, #3E404C, 500);
}

.detail{
  @include fonts(14px, #3E404C, 400);
  letter-spacing: 1.2px;
}

.footnote{
  @include fonts(12px, #84889A, 400);
}

.p-about{
  @include fonts(24px, #3E404C, 500);
}

.p-news{
  @include fonts(14px, #606476, 600);
  letter-spacing: 1px;
}

.p-news-btn{
  @include fonts(15px, #24262D, 500);
}

.job-detail{
  @include fonts(14px, #606476, 500);
}

.job-category{
  @include fonts(14px, $color-accent, 500);
  background-color: #F3F3FC;
  padding: 6px 12px;
}

.job-hours{
  @include fonts(14px, #C98B40, 500);
  background-color: #FEF7F1;
  padding: 6px 12px;
}

.slider-employees{
  @include fonts(14px, #246B49, 500);
  background-color: #F1F8F4;
  padding: 10px 15px;
}

.name-company{
  @include fonts(16px, $color-black, 500);
}

.subheading{
  @include fonts(16px, $color-black, 500);
}

.p-custom{
  @include fonts(14px, #606476, 400);
}

.p-footer{
  @include fonts(14px, #84889A, 600);
  letter-spacing: 1px;
}

.home-block{
  max-width: 310px ;
  background-color: #F9F9FB;
  padding: 12px 16px;
}

.home-span{
  background-color: #ffffff;
  padding: 4px 8px;
  text-transform: uppercase;
}

.search-bar{
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  max-width: 720px;
  background-color: #ffffff;
  border: 1px solid #EBEBEF;

  &:hover, &:focus, &:active{
    cursor: pointer;
    border: 1px solid $color-accent;

    .icon {
      color: $color-accent;
    }
}

  .icon {
    width: 25px;
    height: 25px;
    color: #84889A;
    margin: 0 10px;
  }
  
  input{
    padding: 24px 0;

    &:focus{
      box-shadow: none !important;
    }
  }
}

.logo-company {
  color: #6D7D93;

  &:hover{
    color: $color-accent;
  }
}

.bg-gray{
  background-color: #F9F9FB;
}

.swiper-button-next,
.swiper-button-prev,
.swiper-button2-next,
.swiper-button2-prev,
.swiper-button3-next,
.swiper-button3-prev {
  background-color: white;
  background-position: center;
  background-repeat: no-repeat;
  padding: 24px;
  border: 1px solid #EBEBEF;
}

.swiper-button-disabled,
.swiper-button2-disabled,
.swiper-button3-disabled {
  opacity: 0.35;
  cursor: auto;
  pointer-events: none;
}

.swiper-button-prev, .swiper-button2-prev, .swiper-button3-prev {
  background-image: url("../images/arrow.svg");
  transform: rotate(180deg);
}

.swiper-button-next,
.swiper-button2-next,
.swiper-button3-next {
  background-image: url("../images/arrow.svg");
}

.w-56{
  width: 56px;
  border: 1px solid #EBEBEF;
}

.swiper-button-next::after,
.swiper-button-prev::after,
.swiper-button2-next::after,
.swiper-button2-prev::after,
.swiper-button3-next::after,
.swiper-button3-prev::after {
  content: "";
}

.under-pic{
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("../images/under-pic.svg");
  text-align: center;
}

.bg-search-up{
  background: linear-gradient(to bottom, #FFFFFF 50%, #F9F9FB 50%);
}

.bg-search-down{
  background: linear-gradient(to bottom, #F9F9FB 50%, #FFFFFF 50%);
}

.bg-search-up{
  div{
    max-width: 720px;
  }
}

.max-width-490{
  max-width: 490px;
}

.col-md-7{
  input:hover, input:active, input:focus{
    border: 1px solid $color-accent !important;
    box-shadow: none;
  }
}