footer.mt-5.border-top
  nav.container.pt-5.navbar.flex-column
    a(href="").mx-auto
      img(src="images/logo.svg" alt="logo")
    .row.mt-5.w-100.pb-5
      .col-md-5.col-lg-7.text-start
        p.p-footer.text-uppercase pages
          ul.navbar-nav
            li.nav-item 
              a(href="").nav-link.p-small.color-black Home
            li.nav-item 
              a(href="").nav-link.p-small.color-black Company
            li.nav-item 
              a(href="").nav-link.p-small.color-black Blog
      .col-md-7.col-lg-5
        p.p-footer.text-uppercase Sign up to our newsletter
        .row.pt-2
          .col-md-7
            input(type="text" placeholder="Email address").form-control.p-small.p-3.rounded-0
          .col
            a(href="").btn.rounded-0.btn-search.p-small.ms-0.d-block.d-md-inline-block.py-3 Get Started