main.content-wrap
  include main/home.pug
  include main/latest-jobs.pug
  include main/companies.pug
  include main/custom.pug
  include main/about.pug
  include main/news.pug
  include main/search.pug