svg(width="25" height="25" fill="currentColor" xmlns="http://www.w3.org/2000/svg")
  g(clip-path="url(#clip0_4_836)")
    g(clip-path="url(#clip1_4_836)")
      g(clip-path="url(#clip2_4_836)")
        mask#a(style="mask-type:luminance" maskUnits="userSpaceOnUse" x="0" y="0" width="25" height="25")
          path(d="M24.81.028h-24v24h24v-24z" fill="#fff")
        g(mask="url(#a)")
          path(d="M18.84 16.645l4.284 4.282-1.415 1.415-4.282-4.283a8.96 8.96 0 01-5.617 1.97c-4.968 0-9-4.033-9-9 0-4.969 4.032-9 9-9s9 4.031 9 9a8.96 8.96 0 01-1.97 5.616zm-2.005-.742a6.977 6.977 0 001.975-4.875c0-3.868-3.133-7-7-7-3.868 0-7 3.132-7 7 0 3.867 3.132 7 7 7a6.977 6.977 0 004.875-1.975l.15-.15z" fill="currentColor")
  defs
    clipPath#clip0_4_836
      path(fill="#fff" transform="translate(.81 .028)" d="M0 0h24v24H0z")
    clipPath#clip1_4_836
      path(fill="#fff" transform="translate(.81 .028)" d="M0 0h24v24H0z")
    clipPath#clip2_4_836
      path(fill="#fff" transform="translate(.81 .028)" d="M0 0h24v24H0z")