.bg-gray.mt-5.pt-5
  .container
    p.detail.d-block.d-md-none.color-accent.fw-bolder.text-center TESTIMONIAL
    h3.text-center.mx-auto See what users say about our job platform
    .swiper.aboutSwiper.mt-5.pb-5
      .swiper-wrapper
        .swiper-slide
          .row
            .col-md.d-flex.flex-column
              .row
                .col
                  .w-56.d-md-none
                    img(src="images/monkey.svg" alt='monkey').p-2
                .col.text-end
                  .swiper-button2-prev.d-inline-block.d-md-none.position-sticky.me-2
                  .swiper-button2-next.d-inline-block.d-md-none.position-sticky
              p.p-about.mt-5.mt-md-0 
                | “Lorem ipsum dolor sit amet,
                | consectetur adipiscing elit. Sed a mi
                | rhoncus, pharetra leo et, efficitur tortor.
                | Fusce vel convallis magna”
              p.p-regular.color-accent.mt-3 David Sinclair - Senior Frontend Developer
              div.mt-auto
                .swiper-button2-prev.d-none.d-md-inline-block.position-sticky.me-2
                .swiper-button2-next.d-none.d-md-inline-block.position-sticky
            .col
              img(src="images/about-person.png" alt="aboutperson").d-none.d-md-block.ms-auto
        .swiper-slide
          .row
            .col-md.d-flex.flex-column
              .row
                .col
                  .w-56.d-md-none
                    img(src="images/monkey.svg" alt='monkey').p-2
                .col.text-end
                  .swiper-button2-prev.d-inline-block.d-md-none.position-sticky.me-2
                  .swiper-button2-next.d-inline-block.d-md-none.position-sticky
              p.p-about.mt-5.mt-md-0  
                | “Lorem ipsum dolor sit amet,
                | consectetur adipiscing elit. Sed a mi
                | rhoncus, pharetra leo et, efficitur tortor.
                | Fusce vel convallis magna”
              p.p-regular.color-accent.mt-3 David Sinclair - Senior Frontend Developer
              div.mt-auto
                .swiper-button2-prev.d-none.d-md-inline-block.position-sticky.me-2
                .swiper-button2-next.d-none.d-md-inline-block.position-sticky
            .col
              img(src="images/about-person.png" alt="aboutperson").d-none.d-md-block.ms-auto