.container.my-5
    .row
      .col-sm-7
        h3 Work with exciting companies
        p.p-small Discover more than 1,600 open positions
      .col-sm-5.text-start.text-sm-end.mt-3.mt-sm-auto
          .swiper-button-prev.d-inline-block.position-sticky.me-2
          .swiper-button-next.d-inline-block.position-sticky
      .swiper.companiesSwiper.mt-5
        .swiper-wrapper
          .swiper-slide
            .card.rounded-0
              .card-body.p-4
                .row.align-items-center
                  .col-3.col-lg-2.me-2.pe-0
                    .w-56.text-center
                      img(src='images/dribble.svg' alt='dribble').p-2
                  .col-8.col-lg-9
                    h6.m-0 Dribble
                p.p-regular.mt-4 
                  | Lorem ipsum dolor sit amet, consectetur
                  | adipiscing elit. Vivamus at dui mollis
                  | metus gravida tristique.
                .mt-4
                  span.slider-employees 65 Employees
          .swiper-slide
            .card.rounded-0
              .card-body.p-4
                .row.align-items-center
                  .col-3.col-lg-2.me-2.pe-0
                    .w-56.text-center
                      img(src='images/paypal.svg' alt='paypal').p-2
                  .col-8.col-lg-9
                    h6.m-0 Paypal
                p.p-regular.mt-4 
                  | Lorem ipsum dolor sit amet, consectetur
                  | adipiscing elit. Vivamus at dui mollis
                  | metus gravida tristique.
                .mt-4
                  span.slider-employees 6000 Employees
          .swiper-slide
            .card.rounded-0
              .card-body.p-4
                .row.align-items-center
                  .col-3.col-lg-2.me-2.pe-0
                    .w-56.text-center
                      img(src='images/spotify.svg' alt='spotify').p-2
                  .col-8.col-lg-9
                    h6.m-0 Spotify
                p.p-regular.mt-4 
                  | Lorem ipsum dolor sit amet, consectetur
                  | adipiscing elit. Vivamus at dui mollis
                  | metus gravida tristique.
                .mt-4
                  span.slider-employees 2000 Employees
          .swiper-slide
            .card.rounded-0
              .card-body.p-4
                .row.align-items-center
                  .col-3.col-lg-2.me-2.pe-0
                    .w-56.text-center
                      img(src='images/slack.svg' alt='slack').p-2
                  .col-8.col-lg-9
                    h6.m-0 Slack
                p.p-regular.mt-4 
                  | Lorem ipsum dolor sit amet, consectetur
                  | adipiscing elit. Vivamus at dui mollis
                  | metus gravida tristique.
                .mt-4
                  span.slider-employees 400 Employees