.container.pt-5
  p.detail.d-block.d-md-none.color-accent.fw-bolder WHY CHOOSE US
  .row
    .col.text-center.d-none.d-md-block
      img(src="images/person.png" alt="person")
      .under-pic.pb-3
        p.p-custom.m-0.pt-2 Partnership with Glassdoor and LinkedIn
    .col
      h3 Build a custom membership site with locked content.
      p.p-regular.mt-4 
        | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed a mi
        | rhoncus, pharetra leo et, efficitur tortor. Fusce vel convallis magna, sit
        | amet pulvinar diam. Sed laoreet feugiat consequat.
      .bg-gray
        .row.p-2.align-items-center
          .col-3.col-md-2
            .w-56.text-center.bg-white
              img(src="images/people.svg" alt="people").p-3
          .col-9.col-md-10
            p.subheading.m-0 Add a feature point here
            p.p-custom.mt-2.mb-0 Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      .bg-gray.my-3
        .row.p-2.align-items-center
          .col-3.col-md-2
            .w-56.text-center.bg-white
              img(src="images/people.svg" alt="people").p-3
          .col-9.col-md-10
            p.subheading.m-0 Add a feature point here
            p.p-custom.mt-2.mb-0 Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      .bg-gray
        .row.p-2.align-items-center
          .col-3.col-md-2
            .w-56.text-center.bg-white
              img(src="images/people.svg" alt="people").p-3
          .col-9.col-md-10
            p.subheading.m-0 Add a feature point here
            p.p-custom.mt-2.mb-0 Lorem ipsum dolor sit amet, consectetur adipiscing elit.