.container
  .row
    .col-md-6
      p.home-block.footnote
        span.detail.home-span.color-accent new
        span.ps-2.fw-bolder.color-black Stay connected to get upcoming jobs
      h2 Find the most exciting&nbsp;jobs in tech
    .col-md-6.d-flex.align-items-end
      p.p-regular
        | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed a mi
        | rhoncus, pharetra leo et. Sign in or sign up to get started!
  .position-relative
    .search-bar.my-3.my-md-0.mt-md-5.w-100.position-absolute
          .row.align-items-center.ms-0.w-100
            .col-2.col-md-1
              .icon
                include ../svg/svg-search.pug
            .col-8
              input(type="text" placeholder="Search...").form-control.border-0.p-small
            .col-md-2.ms-md-2
              a(href="").btn.rounded-0.btn-search.p-small.ms-md-4.mb-2.mb-md-0.d-block.d-md-inline-block Search
    .pt-0.pt-md-4
      img(src="images/home-tower.png" alt="Building").img-fluid.mt-3.mt-md-5.pt-0.pt-md-2
      .under-pic.pb-3.d-none
        p.p-custom.m-0.pt-2 Partnership with Glassdoor and LinkedIn
  .row.row-col-2.row-cols-lg-6.align-items-center.text-center.mt-5.pe-4.pe-sm-0
    .col-6.col-md.mt-3.mt-sm-0
      .logo-company
        include ../svg/svg-company1.pug
    .col-6.col-md.mt-3.mt-sm-0
      .logo-company
        include ../svg/svg-company2.pug
    .col-6.col-md.mt-3.mt-sm-0
      .logo-company
        include ../svg/svg-company3.pug
    .col-6.col-md.mt-3.mt-sm-0
      .logo-company
        include ../svg/svg-company4.pug
    .col-6.col-md.mt-3.mt-sm-0
      .logo-company
        include ../svg/svg-company5.pug
    .col-6.col-md.mt-3.mt-sm-0
      .logo-company
        include ../svg/svg-company6.pug

    