.bg-gray.mt-5
  .container
    .row.pt-5
      .col-md-6
        h3 Explore the latest job openings
        p.p-regular.mt-3.mb-3.mb-md-0
          | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed a mi rhoncus,
          | pharetra leo et, efficitur tortor. Fusce vel convallis magna.
      .col-md-6.d-block.d-md-flex.align-items-end.justify-content-end
        a(href="/").btn.rounded-0.btn-jobs.p-small.d-block.ms-md-4 See all jobs
    .row.row-cols-1.row-cols-md-2.row-cols-lg-3.justify-content-center.py-5
      .col.mb-4
        .card.rounded-0
          .card-body
              .row
                .col-2.me-3.pe-0
                  .w-56.text-center
                    img(src='images/dribble.svg' alt='dribble').p-2
                .col-9
                  p.name-company.mb-0 Dribble
                  p.p-regular.mt-0 October 25, 2022
              h6 Front End Developer
              .mt-4
                span.job-category.me-2 Marketing
                span.job-hours Part Time
              .row.mt-3.mt-md-4
                .col-lg.col-xl-5
                  img(src="images/map.svg" alt="map")
                  span.job-detail San Antonio
                .col.col-xl-5.mt-1.mt-lg-0
                  img(src="images/money.svg" alt="money")
                  span.job-detail $ 130k-160k
      .col.mb-4
        .card.rounded-0
          .card-body
              .row
                .col-2.me-3.pe-0
                  .w-56.text-center
                    img(src='images/dribble.svg' alt='dribble').p-2
                .col-9
                  p.name-company.mb-0 Dribble
                  p.p-regular.mt-0 October 25, 2022
              h6 Backend Developer
              .mt-4
                span.job-category.detail.me-2 Design
                span.job-hours.detail Full Time
              .row.mt-3.mt-md-4
                .col-lg.col-xl-5
                  img(src="images/map.svg" alt="map")
                  span.job-detail Dallas
                .col.col-xl-5.mt-1.mt-lg-0
                  img(src="images/money.svg" alt="money")
                  span.job-detail $ 50k-70k
      .col.mb-4
        .card.rounded-0
          .card-body
              .row
                .col-2.me-3.pe-0
                  .w-56.text-center
                    img(src='images/tokopedia.svg' alt='tokopedia').p-2
                .col-9
                  p.name-company.mb-0 Tokopedia
                  p.p-regular.mt-0 March 30, 2021
              h6 Scrum Master
              .mt-4
                span.job-category.detail.me-2 Marketing
                span.job-hours.detail Part Time
              .row.mt-3.mt-md-4
                .col-lg.col-xl-5
                  img(src="images/map.svg" alt="map")
                  span.job-detail San Antonio
                .col.col-xl-5.mt-1.mt-lg-0
                  img(src="images/money.svg" alt="money")
                  span.job-detail $ 130k-160k
      .col.mb-4
        .card.rounded-0
          .card-body
              .row
                .col-2.me-3.pe-0
                  .w-56.text-center
                    img(src='images/facebook.svg' alt='facebook').p-2
                .col-9
                  p.name-company.mb-0 Facebook
                  p.p-regular.mt-0 March 30, 2021
              h6 Lead Technical Architect
              .mt-4
                span.job-category.detail.me-2 Technology
                span.job-hours.detail Full Time
              .row.mt-3.mt-md-4
                .col-lg.col-xl-5
                  img(src="images/map.svg" alt="map")
                  span.job-detail Melbourne
                .col.col-xl-5.mt-1.mt-lg-0
                  img(src="images/money.svg" alt="money")
                  span.job-detail $ 210k-240k
      .col.mb-4
        .card.rounded-0
          .card-body
              .row
                .col-2.me-3.pe-0
                  .w-56.text-center
                    img(src='images/spotify.svg' alt='spotify').p-2
                .col-9
                  p.name-company.mb-0 Spotify
                  p.p-regular.mt-0 March 30, 2021
              h6 Digital Media Strategist
              .mt-4
                span.job-category.detail.me-2 Business
                span.job-hours.detail Casual
              .row.mt-3.mt-md-4
                .col-lg.col-xl-5
                  img(src="images/map.svg" alt="map")
                  span.job-detail New York
                .col.col-xl-5.mt-1.mt-lg-0
                  img(src="images/money.svg" alt="money")
                  span.job-detail $ 50k-70k
      .col.mb-4
        .card.rounded-0
          .card-body
              .row
                .col-2.me-3.pe-0
                  .w-56.text-center
                    img(src='images/paypal.svg' alt='paypal').p-2
                .col-9
                  p.name-company.mb-0 Paypal
                  p.p-regular.mt-0 March 30, 2021
              h6 Systems Administrator
              .mt-4
                span.job-category.detail.me-2 Business
                span.job-hours.detail Casual
              .row.mt-3.mt-md-4
                .col-lg.col-xl-5
                  img(src="images/map.svg" alt="map")
                  span.job-detail California
                .col.col-xl-5.mt-1.mt-lg-0
                  img(src="images/money.svg" alt="money")
                  span.job-detail $ 40k-50k