.container.mt-5
  .row
    .col-md-7
      h3 Get the latest news about jobs!
    .col-md-5.text-start.text-md-end.mt-3.mt-md-auto
      .swiper-button3-prev.d-inline-block.position-sticky.me-4.me-md-2
      .swiper-button3-next.d-inline-block.position-sticky
  .swiper.newsSwiper.mt-2.mt-md-5
    .swiper-wrapper
      .swiper-slide
        .card.rounded-0
          img(src="images/interior.png" alt="interior").p-2
          .card-body.p-4
            span.job-category.detail.me-2 Resources
            h5.mt-3 Finding employees in the gig economy
            ul.mt-3.ps-3.p-news
              li.text-uppercase October 24, 2022
            a(href="/").text-center.mt-3.text-decoration-none
              .bg-gray.p-2
                p.p-news-btn.m-0
                  | Read more
                  span: img(src="images/arrow-news.svg" alt="arrownews").ps-2
      .swiper-slide
        .card.rounded-0
          img(src="images/interior2.png" alt="interior2").p-2
          .card-body.p-4
            span.job-category.detail.me-2 Education
            h5.mt-3 How to make a great first impression everytime
            ul.mt-3.ps-3.p-news
              li.text-uppercase October 24, 2022
            a(href="/").text-center.mt-3.text-decoration-none
              .bg-gray.p-2
                p.p-news-btn.m-0
                  | Read more
                  span: img(src="images/arrow-news.svg" alt="arrownews").ps-2
      .swiper-slide
        .card.rounded-0
          img(src="images/interior3.png" alt="interior3").p-2
          .card-body.p-4
            span.job-category.detail.me-2 Trends
            h5.mt-3 Find out the best paying careers in 2022
            ul.mt-3.ps-3.p-news
              li.text-uppercase October 24, 2022
            a(href="/").text-center.mt-3.text-decoration-none
              .bg-gray.p-2
                p.p-news-btn.m-0
                  | Read more
                  span: img(src="images/arrow-news.svg" alt="arrownews").ps-2  
      .swiper-slide
        .card.rounded-0
          img(src="images/interior4.png" alt="interior4").p-2
          .card-body.p-4
            span.job-category.detail.me-2 Careers
            h5.mt-3 Ten things to nail your next job Interview
            ul.mt-3.ps-3.p-news
              li.text-uppercase March 24, 2021
            a(href="/").text-center.mt-3.text-decoration-none
              .bg-gray.p-2
                p.p-news-btn.m-0
                  | Read more
                  span: img(src="images/arrow-news.svg" alt="arrownews").ps-2