.container.mt-5
  .bg-search-up.px-4
    .border.text-center.mx-auto.bg-white
      img(src="images/zoom.png" alt="zoom").p-3
  .bg-gray.text-center.py-5.px-2
    .mx-auto.max-width-490
      h4 Explore a job now!
      p.p-regular.mt-3.mb-0
        | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris
        | rhoncus pharetra cursus. Suspendisse sodales porta leo, ac
        | placerat ex pretium quis.
  .bg-search-down
    .search-bar.w-100.mx-auto
      .row.align-items-center.ms-0.w-100
        .col-2.col-md-1
          .icon
            include ../svg/svg-search.pug
        .col-8
          input(type="text" placeholder="Search...").form-control.border-0.p-small
        .col-md-2.ms-md-2
          a(href="/").btn.rounded-0.btn-search.p-small.ms-md-4.mb-2.mb-md-0.d-block.d-md-inline-block Search

  